@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

/* Navbar */

body {
  background-color: black;
  margin: 0;
}

@font-face {
  font-family: "streetfight";
  src: url("../public/fonts/streetfighter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "retro";
  src: url("../public/fonts/retro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "score";
  src: url("../public/fonts/score.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}




.navbar img{
  width: 1000px;
  padding: 10px;
}

.play{
  height: 100vh;
}


.player-container{
  display: inline-block;
  vertical-align: middle;
  padding-top: 250px;
  width: 100%;
  background-image: url("../public/background/background3.gif");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto; /* center the container horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1665px) {
  .player-container{
    width: 1665px;
    
  }
}

.player{
  height: 450px;
}
.player1{
  float: left;
}
.player2{
  float: right;
}
.flip{
  transform: scaleX(-1);
  size: 500px;
}
.baseball{
  position: absolute;
  width: 60px;
  top: 450px;
  /* transition: left 20ms linear; */
}
.score{
  font-size:120px;
  color: rgb(255, 255, 255);
  font-family: 'score';
  position: absolute;
  left: 48%;
  right: 52%;
  bottom: 75%;
}

.playerWinStat{
  font-size:75px;
  color: rgb(255, 255, 255);
  font-family: 'score';
  position: absolute;
  left: 32%;
  right: 68%;
  bottom: 50%;
  width: 700px;
}

.rooms-container{
	display: grid;
	place-items: center
}
.rooms-container a{
  text-decoration: none;
}
.rooms-container h1{
	text-align: center;
  color: rgb(209, 209, 209);
}
.rooms-container .title{
  font-size: 70px;
}

.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/background/SuperBasedBallBackGround.png");
  background-size: 100% 100%;
}
.main-container{
  display: flex;
  width: 170vh;
  height: 90vh;
}
.front-left-container{
  height: 98%;
  width: 50%;
}
.border-image-container{
  width: 70vh;
  height: 30vh;
  border-style: solid;
  margin-left: 5vh;
}
.border-image-container img{
  width: 70vh;
  height: 30vh;
}
.front-div-container{
  margin-left: 5vh;
  margin-top: 10vh;
  width: 75vh;
  height: 40vh;
  display: flex;
  justify-content: center;
}
.stats-container li{
  font-size: 3.5vh;
  z-index: 1;
}
.stats-container{
  margin-right: 1vh;
  width: 50vh;
  height: 48vh;
  color: #804d47;
  font-family: "retro", sans-serif;
  letter-spacing: 0.1em;
  font-style: none;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none; /* Removes bullet points */
  margin-top: 5vh;
  padding: 0px;
}
.list a{
  color: #804d47;
  text-decoration: none;
}
.list a:hover{
  color: #ae655d;
  text-decoration: none;
}
.skin-container{
  width: 30vh;
  height: 48vh;
}
.skin-container img{
  width: 30vh;
  height: 48vh;
}
.front-right-container{

  height: 98%;
  width: 50%;

}
.video-container {
  width: 85vh;
  height: 50vh;
  position: relative;
}

.img-container{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basedball-title{
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5vh;
  height: 10vh;
}
.basedball-info{
  display: block;
  margin: 0 auto;
  height: 12vh;


}
.cool-border{
  border: 0.5vh solid transparent;
  position: relative;
}

.cool-border::before{
  content: "";
  position: absolute;
  top: -0.5vh;
  left: -0.5vh;
  right: -0.5vh;
  bottom: -0.5vh;
  border: 0.5vh solid;
  border-image-source: linear-gradient(320deg, #000000, #c9c7c7);
  border-image-slice: 1;
}