@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

/* Navbar */

body {
  background-color: rgb(216, 150, 255);
  margin: 0;
}

.center-element {
  margin-top: 75px;
  text-align: center;
}

.large-font {
  font-size: 2.4rem;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: rgb(188, 221, 250);
  position: fixed;
  display: block;
  overflow: hidden;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.nav-element {
  color: blue;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  text-decoration: none;
  transition: transform 0.2s;
  font-weight: bold;
}

.nav-element:hover {
  font-weight: bold;
  transform: scale(1.25);
}

.small-margin {
  margin-top: 25px;
}

/* Carousel */

.slideshow-container {
  display: block;
  max-width: 100px;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: fixed;
  top: 43%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  margin-left: 48%;
  border-radius: 3px 0 0 3px;
}

.prev {
  margin-left: 18%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;
  color: black;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding-top: 2%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: yellow;
}

.fade {
  animation-name: fade;
  animation-duration: 1.2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Contact Page */

.what-is-sbbe-container {
  margin-top: 8% !important;
  width: 1200px;
  margin: auto;
}

.what-is-sbbe-container.card {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.obama-img {
  flex: 0;
}

.card-body {
  flex: 1;
  padding: 20px;
}

.what-is-sbbe-header {
  margin-top: 0;
}

.what-is-sbbe-paragraph {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create textarea{
  height: 100px;
}

.title{
  font-size: 100px;
}

.flex-child-element {
  flex: 1;
  margin: 10px;
  align-items: center;
}
.flex-parent-element {
  display: flex;
  width: 50%;
  margin: auto;
}
.select{
  text-decoration: none;
  color: lightblue;
}
.flex-parent-player {
  display: flex;
}
.flex-player{
  flex: 1;
  text-align: center;
}
.white-space{
  flex: 2;
}
.player{
  height: 400px;
}
.flip{
  transform: scaleX(-1);
  size: 500px;
}
.baseball{
  position: absolute;
  width: 60px;
  top: 60%;
  left: 20%;
  transition: left 20ms linear;
}
.score{
  font-size:60px;
}
.gameFinal{
  margin-top: 10px;
  font-size: 80px;
}