@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */



* {
  margin: 0;
  padding: 0 !important;
  font-family: "Quicksand";
  color: #333;
  box-sizing: border-box; 
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create textarea{
  height: 100px;
}

body{
  background-color: purple;
}
.title{
  font-size: 100px;
}

.flex-child-element {
  flex: 1;
  margin: 10px;
  align-items: center;
}
.flex-parent-element {
  display: flex;
  width: 50%;
  margin: auto;
}
.select{
  text-decoration: none;
  color: lightblue;
}
.flex-parent-player {
  display: flex;
}
.flex-player{
  flex: 1;
  text-align: center;
}
.white-space{
  flex: 2;
}
.player{
  height: 400px;
}
.flip{
  transform: scaleX(-1);
  size: 500px;
}
.baseball{
  position: absolute;
  width: 60px;
  top: 60%;
  left: 20%;
  transition: left 20ms linear;
}
.score{
  font-size:60px;
}
.gameFinal{
  margin-top: 10px;
  font-size: 80px;
}